*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.prime-container{
    width: 90%;
    margin: 10px auto;
}



/* only for debug */
header.debug{
    height: 50px;
    background-color: #e579e6;
}